@import "reset.css";
@import "color.css";
@import "btn.css";
@import "input.css";

body {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color:aliceblue;
    padding: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

canvas {
    width: 800px;
    height: 800px;
    border: 5px solid black;
    border-radius: 25px;
    background-color: white;
}